<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949405006662-emfk0avknsmlucpitmj2e8dohpj50fc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949405006662-emfk0avknsmlucpitmj2e8dohpj50fc2</string>
	<key>API_KEY</key>
	<string>AIzaSyDR8zO3fAa6k41RsrjA-CTGC0UdZcSzLpA</string>
	<key>GCM_SENDER_ID</key>
	<string>949405006662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n4ksuk.LoginWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebase-720ec</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebase-720ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949405006662:ios:30481d9ac40fcd420fc347</string>
</dict>
</plist>